.footer {
  background-color: $black-light-color;
  padding-top: 8.4rem;
  padding-bottom: 9.2rem;
  background-image: url("../../images/Group\ 26\ \(2\)\ \(1\).svg");
  background-repeat: no-repeat;
  background-position: top 327px left -205px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 9.2rem;
  input,
  textarea {
    display: block;
    margin-bottom: 1.6rem;
    border: 0;
    background: inherit;
    resize: none;
  }
  hr {
    width: 445px;
    background-color: $white-color;
    border: 0;
    height: 1px;
    margin-bottom: 3.2rem;
  }
  input,
  button {
    border: 0;
    background: none;
  }
  button {
    color: $white-color;
    position: absolute;
    right: 0;
    &:hover {
      color: $green-light-color;
    }
  }
}
.footer-text-content {
  max-width: 445px;
  width: 100%;
  h1 {
    margin-bottom: 3.6rem;
  }
}
.footer-bottom-content {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }
}
.footer__logo-link {
  margin-right: auto;
}
.footer-bottom-gradient {
  width: 100%;
  border: 0;
  background-color: $white-color;
  height: 1px;

  margin-bottom: 4.7rem;
}
@media only screen and (max-width: 988px) {
  .footer {
    width: 100%;
  }
  .footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
    div {
      margin-bottom: 4.8rem;
    }
  }
  h1 {
    font-size: 7.2rem;
    margin-bottom: 2rem;
  }
  .footer {
    background-color: $black-color;
    padding-top: 8.4rem;
    padding-bottom: 9.2rem;
    background-image: url("../../images/Group\ 26\ \(2\)\ \(1\).svg");
    background-repeat: no-repeat;
    background-position: bottom 200px left -205px;
  }
  .footer-form {
    position: relative;
  }
  .footer-form-btn {
    right: 0;
  }
}

@media only screen and (max-width: 610px) {
  .footer {
    min-width: 445px;
    h1 {
      font-size: 4rem;
    }
  }
  .footer-bottom-content {
    .footer__logo-link {
      margin-left: auto;
    }
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
}
