.header {
  background: url("../../images/Group\ 26\ \(2\)\ \(1\).svg");
  background-repeat: no-repeat;
  background-position: left -100px top 133px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4.3rem;
  padding-bottom: 4.3rem;

  ul {
    display: flex;
    gap: 4.3rem;
  }
}

.hero__title {
}
.hero__line {
  width: 492px;
  height: 6px;
  background-color: $green-light-color;
  margin-left: 137px;
}
.hero-container {
  padding-top: 8.7rem;
  padding-bottom: 8.7rem;
  position: relative;
  margin-bottom: 16.9rem;
  .hero__title {
    max-width: 709px;
    width: 100%;
    margin-bottom: 4.3rem;
    color: $white-color;
  }
  p {
    max-width: 445px;
    width: 100%;
    margin-bottom: 6.6rem;
  }
  a {
    color: $white-color;
  }
}

.site__logo {
  padding-top: 3.9rem;
}
.hero__right__bg {
  position: absolute;

  top: -14.1rem;
  right: 4.1rem;
  z-index: -1;
}
.hero__right__img {
  position: relative;
  width: 445px;
  height: 720px;
  background-color: $black-light-color;
}
.hero__img {
  object-fit: contain;
  position: absolute;
  width: 445px;
  bottom: 0;
}
.text_under-color {
  position: absolute;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 6px;
    background-color: $green-light-color;
  }
}
.hero__oval__shape {
  position: absolute;
  padding-bottom: 10.9rem;
  right: 420px;
}
// .header__logo-img{
//     width: 172px;
//     height: 32px;
// }

@media only screen and (max-width: 1360px) {
  .hero__title {
  }
  .hero__poragrph {
    margin-bottom: 3.4rem;
  }
  .hero__right__bg {
    right: 0;
  }
  .hero__oval__shape {
    top: 450px;
    right: 0;
  }
  .header {
    background: url("../../images/Group\ 26\ \(2\)\ \(1\).svg");
    background-repeat: no-repeat;
    background-position: left -265px top 86px;
  }
}
@media only screen and (max-width: 630px) {
  .hero-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-container {
    flex-direction: column;
    gap: 2rem;
  }
  .header {
    background: url("../../images/Oval\ \(4\)\ \(1\).svg");
    background-repeat: no-repeat;
    background-position: left -272px top 100px;
    margin-bottom: 30rem;
  }
  .header-hero-content {
    position: absolute;
    top: 323px;
    text-align: center;
    max-width: 345px;
    width: 100%;
    h1 {
      font-size: 4rem;
      margin-bottom: 2.4rem;
    }
    p {
      margin-bottom: 2.4rem;
    }
  }
  .header__hero__content {
    width: 343px;
    height: 80px;
  }
  .hero__right__bg {
    width: 100vw;
    display: flex;
    justify-content: center;
    top: -165px;

    div {
      width: 234px;
      height: 400px;
    }
  }
  .hero__right__img {
    width: 174px;
    height: 38.3rem;
    display: flex;
    padding-bottom: 4rem;
    background: linear-gradient(180deg, rgba(36, 36, 36, 0) 0%, #242424 100%);
  }
  .hero-container {
    display: flex;
    flex-direction: column;
  }
  .hero__oval__shape {
    top: 94px;
  }
  .hero__title {
    width: 343px;
    height: 80px;
    padding-bottom: 2.4rem;
  }
  .text_under-color {
    display: flex;
  }
  .hero__poragrph {
    padding-top: 2.4rem;
  }
}
